@import './bootstrap.min';
@import './animate.min';
@import 'font-awesome-4.7.0/scss/font-awesome';
@import './fonts';





// $font-stack:    Helvetica, sans-serif;

%link-button {  //extend this to <a>
	padding: 12px 40px;
	color: white;
    border: 3px solid;
    border-radius: 0px;
    text-decoration: none;
    text-transform: uppercase;
	font-family: "GothamProRegular";
	font-size: 12px;
    cursor: pointer;
    &:hover, &:focus {
    	color: #35bdf6;
    	outline: 5px auto -webkit-focus-ring-color;
    }
}


.myrow { //cancel bootstrap standart row settings
	margin-right: 0;
    margin-left: 0;
}



#page-preloader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #031e32;
    z-index: 111;
    .animated-logo {
    	display: block;
	    width: 40%;
	    height: 40%;
	    background: url('../img/crafted_logo.svg') no-repeat ; //50% 50%
	    margin: auto;
	}
}

.menu {
	display: none;
	//display: block;
	z-index: 1;
	position: fixed;
	height: 100vh;
	width: 100%;
	padding: 0;
	background: rgba(3,30,50,.95);
	background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;	
}
.menu-burger {
	z-index: 2;
	position: fixed;
	top: 45px;
	right: 45px;
	border: none;
	background-color: inherit;
	color: #35bdf6;
	outline: none;
	.burger-icon {
		display: block;
	}
	.close-icon {
		display: none;
	}
}

.menu-list {
	margin-top: 20vh;
	padding: 0;
	list-style-type: none;
	text-transform: uppercase;
}

.menu-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	text-decoration: none;
	font-size: 22px;
	line-height: 75px;
	&:active, &:hover, &:focus {
		color: #35bdf6;
		background-color: white;
		outline: 5px auto white;
		a {
			color: #35bdf6;
		}
	}
	a {
		text-decoration: none;
		color: white;
		&:active, &:hover, &:focus {
			outline: none;
			color: #35bdf6;
		}
	}
}



.home {
	// display: flex;
	// justify-content: center;
	// align-items: center;
	height: 100vh;
	background: url(../img/crafted_splash.jpg) center center no-repeat;
	background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.home-page-content{
	position: relative;
	top: 30%;
	width: 100%;
    height: 70%;
    margin: auto;
    max-width: 500px;
    overflow: hidden;
	text-align: center;
	color: white;
    .main-logo {
    	width: 200px;
    	height: auto;
    }
    h1 {
    	font-family: "GothamProRegular";
    	letter-spacing: 1px;
    	font-weight: 200;
    	line-height: 27px;
    }
    p {
    	font-family: "GothamProRegular";
    	// letter-spacing: 1px;
    	font-size: 15px;
    	line-height: 25px;
    }
}


.animated-button {
	height: 50px;
	width: 50px;
	i {
	width: 30px;
    height: 30px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    display: block;
    background: url(../img/icon_arrow_light.svg) no-repeat center center #35bdf6;
    background-size: 12px;
    border-radius: 100%;
    //z-index: 100;
	}
}

.animation-for-btn1{
	width: 30px;
    height: 30px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    animation-name: pulse;
    -webkit-animation-name: pulse;  
    animation-duration: 1.5s;   
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    border-radius: 50%;
    background: #35bdf6;
}

.animation-for-btn2{
	width: 30px;
    height: 30px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    animation-name: pulse;
    -webkit-animation-name: pulse;  
    animation-duration: 1.1s;   
    -webkit-animation-duration: 1.1s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    border-radius: 50%;
    background: #35bdf6;
}
 
@keyframes pulse {
    0% {
        transform: scale(1.1);
        opacity: 0.3;       
    }
    50% {
        transform: scale(1.2);
        opacity: 0.5; 
    }   
    100% {
        transform: scale(1.3);
        opacity: 0.3;   
    }           
}

@keyframes pulse {
    0% {
        transform: scale(1.3);
        opacity: 0.4;       
    }
    50% {
        transform: scale(1.5);
        opacity: 0.2; 
    }   
    100% {
        transform: scale(1.2);
        opacity: 0.5;   
    }           
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.95);
        opacity: 0.7;       
    }
    50% {
        -webkit-transform: scale(1);
        opacity: 1; 
    }   
    100% {
        -webkit-transform: scale(0.95);
        opacity: 0.7;   
    }           
}




.projects-img {
	padding: 0;
	img {
	width: 100%;
	vertical-align: bottom; //cancel bootstrap settings
	}
}

.projects-title {
	padding: 100px 0 50px 0;
	text-align: center;
	text-transform: uppercase;
	color: #333;	
	font-family: "GothamProLight";
    letter-spacing: 5px;
}

.see-all-work {
	.see-all-work_padding {
		margin-top: 100px;
		padding: 0;
		text-transform: uppercase;
	}
	.services {
		padding: 75px 0 75px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #02243e;
		color: white;
		h2 {
			text-transform: uppercase;
			font-family: "GothamProRegular";
			font-size: 17px;
		}
	}
	.works {
		@extend .services;
		background-color: #031e32;
	}
	a {
		@extend %link-button;
	}
}

.recognition {
	padding: 100px 0 100px 0;
	background-color: #F6F6F6;
	text-align: center;
	h1 {
	text-transform: uppercase;
	color: #333;	
	font-family: "GothamProLight";
    letter-spacing: 5px;
	}
	p {
		font-family: "GothamProRegular";
		font-size: 15px;
	}
}

.client-logo {
	margin-top: 25px;
}


.icon-box {
	width: 50%;
	height: 100px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.clients {
	padding: 100px 0 100px 0;
	text-align: center;
	h1 {
	text-transform: uppercase;
	color: #333;	
	font-family: "GothamProLight";
    letter-spacing: 5px;
	}
	p {
		font-family: "GothamProRegular";
		font-size: 15px;
	}
}

// .logo-background-img (and span in html)

//  @each $name in dashboard, paper, paint, comment, link, comment-single, email-alert, heart {
// 	.icon_#{$name} {
// 		width: 90px;
// 		height: 90px;
// 		padding: 0px;
// 		background: url(img/#{$name}.png) no-repeat 50% 50%;
// 	}
// }

.designed-developed-nyc {
	padding: 80px 0 80px 0;
	background-color: #031e32;
	color: white;
	.img-background {
		height: 300px;
		content: '';
		display: block;
		background: url(../img/dandnyc.svg) no-repeat 50% 50%;
		background-size: 200px auto;
	}
	h2 {
		margin: 25px 0 0 0;
		text-transform: uppercase;
		font-family: "GothamProMedium";
		font-size: 17px;
		letter-spacing: 1px;
	}
	p {
		margin: 5px 0 5px 0;
		font-family: "GothamProRegular";
		font-size: 15px;
		line-height: 25px;
	}
	a {
		@extend %link-button;
		display: inline-block;
		margin-top: 30px;
	}
}

.work-together {
	padding: 70px 0 70px 0;
	text-align: center;
	h1 {
		text-transform: uppercase;
		color: #333;	
		font-family: "GothamProLight";
		letter-spacing: 5px;
	}
	p {
		font-family: "GothamProRegular";
		font-size: 15px;
	}
}




.contact {
	.contact_padding {
		padding: 0;
	}
	.for-business {
		padding: 60px 0 60px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #06385d;
		color: white;
	}
	.for-team {
		@extend .for-business;
		background-color: #1f5e88;
	}
	h3 {
		text-transform: uppercase;
		font-family: "GothamProRegular";
		font-size: 17px;
		letter-spacing: 1px;
	}
	a {
		font-family: "GothamProRegular";
		font-size: 15px;
		color: #35bdf6;
		text-decoration: none;
		&:active, &:hover, &:focus {
			color: #2a6496;
		}
	}
	.email-contact {
		padding-top: 10px;
		color: white;
	}
	.map {
		height: 400px;
		background: url(../img/crafted_map.jpg) center center no-repeat;
	    background-size: cover;
	    a {
	    	height: 400px;
	    }
	}
}

footer {
	background-color: #031e32;
	color: white;
	a {
		color: #35bdf6;
		text-decoration: none;
		font-family: "GothamProRegular";
		&:active, &:hover, &:focus {
	    outline: 0;
	    color: #16a9e1;
	    text-decoration: none;
		}
	}
	.social-links {
		i {
			padding-right: 20px;
			font-size: 22px;
		}
	}
	ul {
		padding: 0;
		list-style-type: none;
		color: white;
		line-height: 24px;
		font-family: "GothamProRegular";
	}
	.footer-col-right {
		text-align: right;
		@media (max-width: 768px) {
			text-align: left;
		}
	}
	p {
		margin: 50px 0 50px 0;
		font-family: "GothamProMedium";
		font-size: 12px;
	}
}

.footer-logo {
	width: 130px;
    height: auto;
    margin: 80px 0 20px 0;
}



.slider {
	z-index: 1;
	width: 100%;
	height: 290px;
	overflow: hidden;
	margin: 0 0 7px;
	position: relative;
	ul, li {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	ul {
	 	width: 500%; 
	 	height: 290px;
		li {
			display: inline-block;
			list-style-type: none;
			float: left;
			width: 20%;
			height: 290px;
			background: red;
			img {
				width: 100%;
				height: 20vh;
			}
	 	}
	}
	.nav {
		position: absolute;
		left: 15px;
		bottom: 12px; 
		span {
			opacity: 0.9;
			background: #fff;
			margin: 0 8px 0 0;
			width: 16px;
			height: 16px;
			border-radius: 8px;
			cursor: pointer;
			overflow: hidden;
			display: block;
			float: left;
			box-shadow: 0 1px 2px #000;
			&.on {
				background: #35bdf6;
			}
		}
	}
}